body, html {
    height: 100%;
}

body {
    background-image: url("../img/Simple Shiny Index.svg");
}

form {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 7px;
}

.btn-purple {
    border: 1px solid #6614d3;
}

.btn-orange {
    border: 1px solid #EB6500;
}

.btn-red {
    border: 1px solid #ca0b66;
}