
input {
    width: 90%;
    height: 45%;
}
select{
    width: 40%;
    height:40%;
    text-align: center;
}
th,td {
    color:white;
    font-size: 20px;
    text-align: left
}
.table_patient{
    background-color: #00b49d;
    border-radius: 8px;
    box-shadow: 20px 20px 15px 8px rgba(0,0,0,0.7);
}

.floating_input{
    border-radius: 5px;
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.7);
    transition: .3s;
}
.floating_input:hover{
    background: #fc7400;
    box-shadow: 0 0 30px #ffa001;
    color: #ffffff;
    transform: translateY(-3px);
}

.floating_button{
    text-decoration: none;
    display: inline-block;
    line-height: 1.5625em;
    border-radius: .625em;
    font-size: 1.125em;
    text-align: center;
    font-weight: 400;
    color: #212121;
    background: #007563;
    box-shadow: 0 0.5em 0.937em rgba(0,0,0,0.1);
    transition: .3s;
}
.floating_button:hover{
    background: #fc7400;
    box-shadow: 0 0 30px #ffa001;
    color: #ffffff;
    transform: translateY(-3px);
}

.day_indic {
    text-align: center;
    background-color: #fc7400;
    color: #ffffff;
    height: 10em;
    border-radius: 8px;
    box-shadow: 20px 20px 15px 8px rgba(0,0,0,0.7);
}
#datepicker{
    box-shadow: 20px 20px 15px 8px rgba(0,0,0,0.7);
    border-radius: 8px;
}
.ui-datepicker-trigger {
    margin-left: 5px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

._error{
    border: 2px solid red;

}


